<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="share.photo.sharephoto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />
    <!-- android:name="share.photo.sharephoto.SharePhotoApplication" -->
    <application
        android:name="share.photo.sharephoto.SharePhotoApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="share.photo.sharephoto.IndexActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="share.photo.sharephoto.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="share.photo.sharephoto.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="share.photo.sharephoto.UploadUserPhotoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".GetUserPhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="share.photo.sharephoto.TabActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="share.photo.sharephoto.SubscriptionPhotosActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="share.photo.sharephoto.PhotosNearbyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="share.photo.sharephoto.OneseltActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="share.photo.sharephoto.PhotoShowActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="share.photo.sharephoto.UserListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="share.photo.sharephoto.PhotoCommentListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="share.photo.sharephoto.PhotoNearbyMapActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="share.photo.sharephoto.PhotoBlowActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="share.photo.sharephoto.UserSearchByNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="share.photo.sharephoto.UserLikePhotosActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >

            <!--
            <intent-filter>
				<action android:name="com.baidu.location.service_v2.9"></action>
			</intent-filter>
            -->
        </service>
    </application>

</manifest>